h2,h3,p{
    margin:10px;
}
.wrap{
    display: flex;
    justify-content: space-between;
    width:100%;
    span{
        cursor:pointer;
        margin:10px;
    }
}
.wrap-buttons{
    display: flex;
    button{
        width:200px;
        margin:15px;
    }
}
.center{
    display: flex;
    justify-content: start;
}
.wrap-form{
    display: flex;
    flex-direction: column;
}