<div class="wrap">
    <h2>Cliente</h2>
    <!-- <span (click)="goback()">Voltar</span> -->
    <button matButton="elevated" (click)="goback()">Voltar</button>
</div>

<h3>{{customer.name}}</h3>
<h3>Nome do pet: {{customer.pet.name}}</h3>
<div class="wrap-buttons">
    <button matButton="elevated" (click)="viewSchedule()">Agenda</button>
    <button matButton="elevated" (click)="goTasks()">Agendar serviço</button>
    <button matButton="elevated" (click)="showCustomerEdit()">Editar Cliente</button>
    <button matButton="elevated" (click)="showDelete()">Deletar Cliente</button>
</div>
@if(showButton){
    <div class="center">
        <button matButton="filled" (click)="deleteCustomer()">Deseja realmente deletar este cliente?</button>
    </div>
}
@if(showEditCustomer){
    <div class="center">
        <form class="wrap-form" [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Nome do Pet</mat-label>
            <input type="text" matInput formControlName="pet_name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput formControlName="phone">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Peso</mat-label>
            <input type="text" matInput formControlName="peso">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Raça</mat-label>
            <input type="text" matInput formControlName="raca">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Idade</mat-label>
            <input type="text" matInput formControlName="idade">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Sexo</mat-label>
            <input type="text" matInput formControlName="sexo">
        </mat-form-field>        
        <button matButton="filled" (click)="edit()">Editar</button>
    </form>
    </div>
}

@if(showSchedule){
    <div class="wrap-schedule">
        <div class="title">Serviço</div>
        <div class="title">Data</div>
        <div class="title">Valor</div>
    </div>
    @for(item of serviceTask.scheduleClient(); track item._id){
        <div class="wrap-schedule">
            <div>{{item.task_name}}</div>
            <div>{{item.date | date: 'dd/MM/yyyy'}}</div>
            <div>{{item.value | currency: 'R$'}}</div>
        </div>

    }
}