h2,h3,p{
    margin:10px;
}
.wrap{
    display: flex;
    justify-content: space-between;
    width:100%;
    span{
        cursor:pointer;
        margin:10px;
    }
}
.wrap-buttons{
    display: flex;
    button{
        width:200px;
        margin:15px;
    }
}
.center{
    display: flex;
    justify-content: start;
    margin-left: 10px;
}
.wrap-form{
    display: flex;
    flex-direction: column;
}
.wrap-schedule{
    display: flex;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ccc;
        width:100%;
        height:45px
    }
    .title{
        font-size: 1.2rem;
    }
}