<div class="wrap-title">
    <h2>Registrar Clientes</h2>
    <button matButton (click)="goBack()">Voltar</button>
</div>
<div class="wrap">

    <form class="example-form" [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Nome do Pet</mat-label>
            <input type="text" matInput formControlName="pet_name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput formControlName="phone">
        </mat-form-field>
        <button matButton (click)="save()">Salvar</button>
    </form>
</div>