<div class="wrap">
    <h2>Editar Agenda</h2>
    <button matButton="elevated" (click)="goBack()">Voltar</button>
</div>
<h2>Nome:{{schedule.name_tutor}}</h2>
<form class="wrap-form" [formGroup]="form">
    <mat-form-field>
        <mat-label>Escolha uma data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Digite o serviço</mat-label>
        <input matInput formControlName="task_name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Digite o valor</mat-label>
        <input matInput type="text" (input)="onInput($event)"  formControlName="value">
    </mat-form-field>
    <button type="submit" matButton="filled" (click)="edit()">Salvar</button>
</form>