h2{
    margin-left: 15px;
}
.wrap{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}
.wrap-form{
    display: flex;
    flex-direction: column;
    width:350px;
    margin-left: 15px;
}