.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        padding:6rem;
        box-shadow: 1px 3px 5px #000;
        width: 450px;
        label{
            margin-bottom: 1rem;
        }
        input{
            margin-bottom:1rem;
            width:100%;
            height:45px;
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            height:45px;
            width:100%;
            background: blue;
            color:white;
            border-radius:6px;
            border:none;
            outline:none;
            margin-top: 10px;
            cursor:pointer
        }
    }
}
h2{
    text-align: center;
}