<div class="wrap">

    <h2>Agenda</h2>
    <button matButton (click)="goBack()">Voltar</button>
    
    
</div>

<table mat-table [dataSource]="list" class="mat-elevation-z8">

  <!-- Serviço Column -->
  <ng-container matColumnDef="task_name">
    <th mat-header-cell *matHeaderCellDef> Serviço </th>
    <td mat-cell *matCellDef="let element"> {{element.task_name}} </td>
  </ng-container>

  <!-- Valor Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let element"> {{element.value | currency:'R$'}} </td>
  </ng-container>

  <!-- Data Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
  </ng-container>
  <ng-container matColumnDef="name_tutor">
    <th mat-header-cell *matHeaderCellDef> Nome Tutor </th>
    <td mat-cell *matCellDef="let element"> {{element.name_tutor}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Ação </th>
    <td mat-cell *matCellDef="let element"> <mat-icon (click)="edit(element._id)">edit</mat-icon> </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<div class="wrap-paginator">
  
  <mat-form-field class="example-full-width">
    <mat-label>Pesquisar</mat-label>
    <input matInput  [value]="search" (input)="searching($event)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-paginator 
  [length]="totalResults" 
  [pageSize]="10" 
  [pageSizeOptions]="[5, 10, 25, 100]" 
  [pageIndex]="page - 1"
  (page)="onPageChange($event)" 
  aria-label="Select page"
  >  </mat-paginator>
</div>