h2{
    margin:15px;
}
.wrap{
    display: flex;
    justify-content: space-between;
}
mat-icon{
    cursor:pointer;
    color:violet;
}
.wrap-paginator{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
table{
    margin-left: 10px;
}