<div class="wrap-title">
    <h2>Agendar serviço</h2>
    <button matButton="elevated" (click)="goBack()">Voltar</button>
</div>

<h2>Nome:{{customer.name}}</h2>
<h2>Nome do pet: {{customer.pet.name}}</h2>

<form class="wrap" [formGroup]="form">
    <mat-form-field>
        <mat-label>Escolha uma data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Digite o serviço</mat-label>
        <input matInput formControlName="task_name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Digite o valor</mat-label>
        <input matInput type="text" (input)="onInput($event)"  formControlName="value">
    </mat-form-field>
    <button type="submit" matButton="filled" (click)="save()">Salvar</button>
</form>