h2{
    margin:15px;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    width:350px;
    flex-direction: column;
}
.wrap-title{
    display: flex;
    justify-content: space-between;
    width:100%;
    button{
        margin: 15px;
    }
}